*.bak
bochsout.log
Thumbs.db
*.o
build_initrd_img/arp
build_initrd_img/ata
build_initrd_img/cat
build_initrd_img/cpuid
build_initrd_img/desktop
build_initrd_img/dhcp
build_initrd_img/extra/output/
build_initrd_img/extra/zengl/zenglOX/libzengl.a
build_initrd_img/extra/zengl/zenglOX/zengl
build_initrd_img/fdisk
build_initrd_img/file
build_initrd_img/format
build_initrd_img/initrd.img
build_initrd_img/ipconf
build_initrd_img/isoget
build_initrd_img/kill
build_initrd_img/ld.so
build_initrd_img/libcommon.so
build_initrd_img/libnetwork.so
build_initrd_img/ls
build_initrd_img/lspci
build_initrd_img/make_initrd
build_initrd_img/make_initrd.dSYM/
build_initrd_img/mixer
build_initrd_img/mount
build_initrd_img/ping
build_initrd_img/play
build_initrd_img/ps
build_initrd_img/reboot
build_initrd_img/shell
build_initrd_img/shutdown
build_initrd_img/term
build_initrd_img/testoverflow
build_initrd_img/uname
build_initrd_img/unmount
build_initrd_img/vga
isodir/boot/grub/grub.cfg
isodir/boot/initrd.img
isodir/boot/zenglOX.bin
isodir/cpuid
isodir/extra/
zenglOX.bin
zenglOX.iso
